<div class="overlay">
	<div class="popup">
		<div class="popup-top">
			<div class="popup-title">
				Add Social Profile
			</div>
			<div class="popup-close">&times;</div>
		</div>
		<div class="popup-text">
			Add new social profile for tracking
		</div>
		
		<form action="#" method="GET" class="popup-form">
			<label class="popup-form__label">url
			</label>
			<input class="popup-form__input" type="text" name="form-name" placeholder="https://twitter.com/username" required>
			
			<button class="popup-button">Lookup</button>
		</form>
	</div>
</div>