<div class="sidebar">
	<div class="sidebar__top">
		<div class="logo">
			<img src="images/header/logo.svg" alt="logotype">
		</div>
		<div class="profile">
			
			<div class="avatar">
				<img src="images/sidebar/Avatar.png" alt="avatar">
			</div>
			<div class="info">Abhisek Das
				<span>10,968 Followers</span>
			</div>
		</div>
		<div class="sidebar__menu">
			<ul>
				<li class="sidebar__item"><a href="#" class="sidebar__link sidebar__link_active"><img class="sidebar__icon" src="images/sidebar/dashboard-icon.svg" alt="">Dashboard</a></li>
				<li class="sidebar__item"><a href="#" class="sidebar__link"><img class="sidebar__icon" src="images/sidebar/social-feed-icon.svg" alt="">Social Feed</a></li>
				<li class="sidebar__item"><a href="#" class="sidebar__link"><img class="sidebar__icon" src="images/sidebar/invite-friends-icon.svg" alt="">Invite Friends</a></li>
				<li class="sidebar__item"><a href="#" class="sidebar__link"><img class="sidebar__icon" src="images/sidebar/settings-icon.svg" alt="">Settings</a></li>
				<li class="sidebar__item"><a href="#" class="sidebar__link"><img class="sidebar__icon" src="images/sidebar/log-out-icon.svg" alt="">Log out</a></li>
			</ul>
		</div>
	</div>
	<div class="sidebar__footer">
		<div class="line"></div>
		<div class="sidebar__footer-wrap">
			<a href="#" class="sidebar__footer-link">About</a>
			<a href="#" class="sidebar__footer-link">Terms</a>
			<a href="#" class="sidebar__footer-link">Privacy</a>
			<a href="#" class="sidebar__footer-link">Help</a>
			<a href="#" class="sidebar__footer-link">Report</a>
		</div>
	</div>
</div>